<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script defer src="../js/bootstrap.bundle.js"></script>
    
    <title>Dashboard</title>
    
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100 d-flex">
            <!-- Sidebar -->
            <div class="col-3 p-5 d-flex flex-column">
                <h1 class="">AdminTODA</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.
                </p>
                <h2>TODA Name</h2>
                <img src="" alt="TODA Icon">
                <h2>Made by</h2>
                <div class="madeBy container d-flex">
                    <div class="person">
                        <img src="" alt="Profile Image">
                        <h6>Name</h6>
                    </div>
                    <div class="person">
                        <img src="" alt="Profile Image">
                        <h6>Name</h6>
                    </div>
                    <div class="person">
                        <img src="" alt="Profile Image">
                        <h6>Name</h6>
                    </div>
                    <div class="person">
                        <img src="" alt="Profile Image">
                        <h6>Name</h6>
                    </div>
                    <div class="person">
                        <img src="" alt="Profile Image">
                        <h6>Name</h6>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="col-9 content d-flex align-items-center justify-content-center">
                <!--  Login -->
                <div class="login-container">
                    <h1 class="fw-bold">Login</h1>
                    <form id="loginForm" class="d-flex flex-column p-0">
                        <div class="form-group mt-5">
                            <input type="text" class="form-control" id="username" placeholder="Username or Email" required>
                        </div>
                        <div class="form-group mt-4">
                            <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Log In</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>