<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/driver.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/node_modules/jquery/dist/jquery.min.js"></script>
    <script defer src="../js/bootstrap.bundle.js"></script>
    
    <title>Transactions</title>
    
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100 d-flex">
            <!-- Sidebar -->
            <div class="col-3 p-5 d-flex flex-column sidenav">
                <h1>TrikGo</h1>
                <a class="row mt-5 tab active" href="../views/home.html">
                        <img src="../images/dashboard.png">
                        <h5 class="m-0">Dashboard</h5>
                </a>
                <a class="row mt-4 tab" href="../views/driver.html">
                    <img src="../images/driver-icon.png" >
                    <h5 class="m-0">Driver</h5>
                </a>
                <a class="row mt-4 tab" href="../views/staff.html">
                        <img src="../images/staff-icon.png">
                        <h5 class="m-0">Staff</h5>
                </a>
                <a class="row mt-4 tab" href="../views/user.html">
                        <img src="../images/user-icon.ico">
                        <h5 class="m-0">User</h5>
                </a>
                <a class="row mt-4 tab" href="../views/analytics.html">
                    <img src="../images/analytics-icon.png">
                    <h5 class="m-0">Analytics</h5>
                </a>
                <a class="row mt-4 tab" href="../views/transactions.html">
                    <img src="../images/transaction-icon.png">
                    <h5 class="m-0">Transactions</h5>
                </a>

                <!-- <button class="btn btn-primary mt-5" id="toggleStatus"></button> -->
                
                <div class="container d-flex justify-content-between mt-5">
                    <a class="row mt-4 settings mt-5" href="../views/user.html">
                        <img src="../images/user-icon.ico">
                    </a>
                    <a class="row mt-4 settings mt-5" href="../views/logout.html">
                        <img src="../images/logout-icon.png">
                    </a>
                </div>
            </div>

            <!-- Content -->
            <div class="col-9 content">
                <h2 class="mt-5">Staffs</h2>

                <!--  Table Section -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Staff ID</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact #</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="clickable-row" data-href="../views/driver-info.html">
                        <th scope="row">1</th>
                        <td>
                            <img src="../images/driver-photo.jpg" alt="Driver's Photo">
                        </td>
                        <td>Mark Lawrence</td>
                        <td>mark@email.com</td>
                        <td>+639123456789</td>
                        <td>
                            <div class="Dstatus">
                                <div class="driver-status-indicator" id="status-indicator"></div>
                                <div class="status-text">Online</div>
                            </div>
                        </td>
                    </tr>
                    
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });

    </script>
</body>
</html>